# Rust
**/target
**/*.rs.bk
**/Cargo.lock
**/wasm-pack.log

# Database files
**/*.sqlite
**/*.sqlite-journal

# Dist
**/dist/

# Build artifacts
**/scratch/

# Web
**/node_modules/
**/.sass-cache/

# Miscellaneous
**/.env
