// Font definitions
$font-size-base: 1em;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;


// Color definitions
$color-font: #252525;

$color-background: #f7f7f7;

$color-gray1: #111111;
$color-gray2: #333333;
$color-gray3: #555555;
$color-gray4: #777777;
$color-gray5: #999999;
$color-gray6: #bbbbbb;
$color-gray7: #cccccc;
$color-gray8: #dddddd;
$color-gray9: #e5e5e5;

$break-tablet: 576px;
$break-desktop: 992px;

$space-sm: 0.25rem;
$space-md: 0.5rem;
$space-lg: 0.75rem;
$space-xl: 1rem;

